In [5]:
# Lista

a = [1, 2, 3, 4]
print(a)

b = []
print(b)

c = list()
print(c)

d = [1, "Hola", [True, c]]
print(d)

[1, 2, 3, 4]
[]
[]
[1, 'Hola', [True, []]]

In [11]:
a = [10, 20, 30]
b = a[0]
print(b)

c = a[len(a)-1]
print(c)

d = a[-3]
a = list(range(10))
print(a)
print(a[-3])

10
30
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
7

In [27]:
a = [10, 20, 30, 40]

b = a[1:3]
print(b)

c = a[2:]
print(c)

d = a[:3]
print(d)

e = a[-2:0]
print(e)

f = a[0:3:2]
print(f)

print(a[::2])
print(a[::-1])
print(a[:])

[20, 30]
[30, 40]
[10, 20, 30]
[]
[10, 30]
[10, 30]
[40, 30, 20, 10]
[10, 20, 30, 40]

In [34]:
a = [10, 20, 30, 40, 50]
b = a 
b[2] = 300
print(a)
print(b)

[10, 20, 300, 40, 50]
[10, 20, 300, 40, 50]
[100, 20, 300, 40, 50]
[10, 20, 300, 40, 50]

In [39]:
a = [10, 20, 30, 40, 50]
c = a[:]
c[0] = 100
print(c)
print(a)

[100, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [45]:
def mostrar(lista):
    nueva = lista.copy()
    nueva.sort()
    print(nueva)

datos = ['aaa','ccc','bbb','ddd']
mostrar(lista=datos)
    
print(datos)

['aaa', 'bbb', 'ccc', 'ddd']
['aaa', 'ccc', 'bbb', 'ddd']

In [58]:
a = [10, 20, 30, 40]
# a[1:3]
# a[1] = 100
a[::2] = [1000,3000]
print(a)

[1000, 20, 3000, 40]

In [62]:
a = [10, 20, 30, 40]
for i in range(len(a)):
    x = a[i]
    print(f"a[{i}] = {x}")

for x in a:
    print(x)

for i, x in enumerate(a):
    print(f"a[{i}] = {x}")

a[0] = 10
a[1] = 20
a[2] = 30
a[3] = 40
10
20
30
40
a[0] = 10
a[1] = 20
a[2] = 30
a[3] = 40

In [70]:
a = list(range(1,11))

b = []
for x in a:
    if x % 2 == 0:
        b.append( x * x)

b 
print("b",b)
c = [ x * x for x in a 
                if x % 2 == 0]
print("c",c)

b [4, 16, 36, 64, 100]
c [4, 16, 36, 64, 100]

In [87]:
a = "Hola mundo"
b = list(a)
print(b)

b.reverse()
print(b)
# a.reverse() 
print(a)

len(a)
len(b)

['H', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o']
['o', 'd', 'n', 'u', 'm', ' ', 'a', 'l', 'o', 'H']
Hola mundo

10

In [95]:
# Dict 
a = {'nombre': 'Juan', 'edad': 22}  
print(a)
print(a['nombre'])
print(a['edad'])
b  = {1: 'uno', 2: 'dos'}
print(b)
print(b[1])

{'nombre': 'Juan', 'edad': 22}
Juan
22
{1: 'uno', 2: 'dos'}
uno

In [103]:
a = {'nombre': 'Juan', 'edad': 22}  

a['nombre'] = 'Pedro'
for x in a:
    print("-",x)

print("Keys")
for x in a.keys():
    print("-",x)

print("Values")
for x in a.values():
    print("-",x)    

print("Items")
for x in a.items():
    print("-",x)

- nombre
- edad
Keys
- nombre
- edad
Values
- Pedro
- 22
Items
- ('nombre', 'Pedro')
- ('edad', 22)

In [111]:
a = {'nombre': 'Juan', 'edad': 22}  

a['nombre'] = None 
del a['nombre']
print(a)

# a = [10, 20, 30, 40]
# del a[1]
a
def get(d, k, v):
    return d.get(k, v)

if 'apellido' in a:
    print(a['apellido'])
else:
    print(a.get('apellido', 'No existe'))

print(get(a,'sexo','no definido aun'))

len(a)

{'edad': 22}
No existe
no definido aun

1

In [115]:
#Tuplas lista inmutable

a = (10, 20, 30, 40)
print(a)
a[1:3]

(10, 20, 30, 40)

(20, 30)

In [120]:
def divmod(a, b):
    return (a // b, a % b)

print(divmod(17, 3))

(5, 2)

In [125]:
a,*b,c = [10, 20, 30, 40, 50]
print(a)
print(b)
print(c)

10
[20, 30, 40]
50

In [130]:
a = [10, 20]
b = [30, 40]
c = [*a, *b, *a, *a]
c

[10, 20, 30, 40, 10, 20, 10, 20]

In [133]:
a = {'nombre': 'Juan', 'edad': 22}
print(b)
print(c)

def suma(a, b):
    return a + b

print(suma(10, 20))
a = [10, 20]

print(suma(*a))

nombre
edad